<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body class="container">
    <button class="btnLogin-popup" id="btnLogin-popup" type="button"><ion-icon class="btnlogin-popup-icon" name="add-circle-outline"></ion-icon></button> 
    <form action="/add-new-user" method="POST" novalidate>
        <div class="input-group row" >
            <div class="form-floating col-lg-2">
                <input type="text" name="fullName" id="fullName" value="" class="form-control" placeholder="Enter name" required>
               
            </div>
            <div class="form-floating col-lg-2">
                <input type="text" name="email" id="email" value=""  class="form-control" placeholder="Email" required>
                
            </div>
            <div class="form-floating col-lg-2">
                <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password" required>
                
            </div>
            <div class="form-floating col-lg-2">
                <input type="password" name="confirm-pw" id="confirm-pw" value="" class="form-control" placeholder="confirm password" required>
                
            </div>
            <div class="form-floating col-lg-2">
                <input name="address" id="address" type="text" class="form-control" placeholder="Address" required></input>
               
            </div>
            <div class="form-floating col-lg-2">
                <button class="btn btn-primary right" type="submit">Add new User</button>
            </div>
        </div>

    </form>
    <div class="wrapper" id="wrapper">
        <span class="icon-close" id="icon-close"><ion-icon name="close-outline"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <span class="icon" ><ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <input type="email" id="'email" name="'email"  required>
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon" ><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="remember-forgot">
                    <label for="remember"><input type="checkbox" id="remember">Remember me</label>
                    <a href="#">Forgot password</a>
                </div>
                <button type="submit" class="btn-login" id="btn-login" onclick="{return rememberMe}" >Login</button>
                <div class="login-register">
                    <a href="#"><p>Register</p></a>
                </div>
            </form>
        </div>
    </div>
  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (users && users.length > 0) { %>
                <% for (let user of users) { %>
                    <tr >
                        <td>
                            <%= user.fullName %>
                        </td>
                        <td  >
                            <%= user.email%>
                        </td>
                        <td>
                            <%= user.address%>
                        </td>
                        
                        <td >
                            <form action="/delete-user" method="POST">
                                <input type="hidden" value="<%= user._id %>" name="userId">
                                <div class="btn-group">
                                    <a href="/edit-user/<%= user._id %>" class="btn btn-info btn-sm">Edit</a> 
                                    <button class="btn btn-danger btn-sm" type="submit"  onclick="{return window.confirm('Delete ?')}">Delete</button>
                                </div>
                            </form>

                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <h1>No User Found!</h1>
                    <% } %>
        </tbody>
    </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> 
 <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    const loginpopup = document.getElementById('btnLogin-popup');
    const  wrapper = document.getElementById('wrapper');
    const iconclose = document.getElementById('icon-close');
    const submitlogin =  document.getElementById('btn-login');
    const rmCheck = document.getElementById('remember'); 
    const user = JSON.stringify(localStorage.getItem('remember-user'));
    const emailInput = document.getElementById('email');

    
    iconclose.addEventListener('click',(e)=>{if(wrapper.classList.contains('show')) wrapper.classList.remove('show')})
    loginpopup.addEventListener('click',(e)=>{wrapper.classList.add('show')})
    </script>
</html>
